<div class="product-text">
    <h2>GET TO KNOW THE CREATOR BEHIND THE CONTENT</h2>
    <h3>ErizoArt</h3>
    <strong style="color:rgb(0, 255, 189);font-family:Montserrat, sans-serif">________________________________________________________________</strong><p></p>

    Hello! I’m a very creative hedgehog who loves the magic of drawing and coloring. Since I was little, art has been my refuge and my favorite way to explore the world around me.
    With pencils, strokes, and lots of color, I’ve created these books so you can let your imagination soar too. Here you’ll find coloring books designed for all ages,
    full of tenderness, detail, and creativity. If you’re as passionate about art as I am, I invite you to join this colorful adventure and bring each page to life!
</div>
<div class="product-image-wrapper">
    <a href="https://hotmart.com/es/club/erizoart" target="_blank" title="Ir a mi tienda de Hotmart"><img src="images/logo.png" alt="Logo de ErizoArt" class="logo"></a>
</div>