<div class="product-text">
    <h2>CONOCE MEJOR A QUIEN HA CREADO EL CONTENIDO</h2>
    <h3>ErizoArt</h3>
    <strong style="color:rgb(0, 255, 189);font-family:Montserrat, sans-serif">________________________________________________________________</strong><p></p>
    ¡Hola! Soy un erizo muy creativo que disfruta de la magia de dibujar y colorear. Desde pequeño, el arte ha sido mi refugio y mi forma favorita de explorar el mundo que me rodea.
    Con lápices, trazos y mucho color, he creado estos libros para que tú también puedas dejar volar tu imaginación. Aquí encontrarás libros para colorear pensados para todas las edades,
    llenos de ternura, detalles y creatividad. Si te apasiona el arte tanto como a mí, ¡te invito a unirte a esta colorida aventura y llenar de vida cada página!
</div>
<div class="product-image-wrapper">
    <a href="https://hotmart.com/es/club/erizoart" target="_blank" title="Ir a mi tienda de Hotmart"><img src="images/logo.png" alt="Logo de ErizoArt" class="logo"></a>
</div>